body {
background-color: #0fdfc3;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #1171ca;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}